.MainHead {
    height: 10vh;
    display: flex;
    align-items: center;
    align-self: center;
    width: auto;
    margin: auto;
    font-size: 30px;
    font-weight: 600;
    padding-left: 5vh;
}